.journal__main-content {
  display: flex;
}

.journal__sidebar {
  background-color: $dark-grey;
  box-shadow: 5px 0 4px rgba($color: #000000, $alpha: 0.3);
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 15px;
  position: relative;
  width: 450px;
}

.journal__sidebar-navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.journal__btn-logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.journal__entries {
  flex: 1 1 auto;
  margin-bottom: 20px;
  overflow-y: auto;
  padding: 0 5px;

  .journal__loading-notes {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.journal__entry {
  background-color: $white;
  color: $dark-grey;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;

  transition: all .3s ease;

  .journal__entry-picture {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    min-width: 50px;
    width: 50px;
  }

  .journal__entry-body {
    padding: 10px;
    flex: 1;
  }

  .journal__entry-title {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    max-width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &.no-title {
      color: #808080ad;
    }
  }

  .journal__entry-last-update {
    font-size: 11px;
  }

  .journal__date-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;

    span {
      font-size: 12px;
    }
  }

  &:hover {
    box-shadow: -2px 3px 4px rgba($color: #d1d1d1, $alpha: 0.3);
  }
}