/* Colors */
$primary: #5c62c5;
$warning: #f13221;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$white: #ffffff;

$google-blue: #4285f4;

/* Gradients */
$primary-gradient: linear-gradient(57deg, #5c62c5 0%, #97D9E1 100%);
